{% extends 'layout.html' %}
{% block content %}
<h4>Register for {{program}}</h4>
<form method="post">
  <div class="mb-2">
    <input class="form-control" name="s1_name" placeholder="Student 1 Name" required>
  </div>
  <div class="mb-2">
    <input class="form-control" name="s1_gmail" placeholder="Student 1 Gmail" required>
  </div>
  <div class="mb-2">
    <input class="form-control" name="s2_name" placeholder="Student 2 Name (optional)">
  </div>
  <div class="mb-2">
    <input class="form-control" name="utr" placeholder="Enter UTR" required>
  </div>
  <button class="btn btn-success">Submit & Send Email</button>
</form>
{% endblock %}
